@charset "ISO-8859-1";

.imgs{
	width:200px;
	height:180px;
	display: inline-block;
	
}
fieldset{
	margin: auto;
	
}
table{
	margin: auto;
}
body{
	margin: auto;
}
.alinhar{
	display: inline-block;
	
}

h3{
	margin-left: 47.5%;
	display: inline-block;
	
}
#telefone{
	background-color: gray;
	
}

.global{
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: flex;
  align-items: center;	
}